*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.background1 {
  background-image: url("images/pic1.webp");
  background-repeat: no-repeat;
  background-size: cover;
 padding: 70px 30px;
  height: 100vh;
  width: 100%;
}
.div{
  border: 1px dotted blue;
  width: 30%;
  height: 600px;
  padding: 10px 10px;

  background-color: rgb(243, 236, 236);
  border-radius: 20px;

}
.inpt input {
width: 100%;
margin: 1px auto;
padding: 10px 5px;
border: none;
border-bottom: 1px solid red;
outline: none;
font-size: large;
background-color: transparent;
}
.inpt {
  width: 95%;
  margin: 15px auto;
  
  }

  .imgg{
    border: 1px solid rgb(221, 193, 141);
    width: 55%;
    
    border-radius: 50%;
    margin: 10px auto;
  }
  .lii{
    /* border: 1px solid black; */
    width: 80%;
    height: 250px;
    margin: 90px auto;

  }
  .lii li{
    list-style-type: none;
    margin: 30px 10px;
    font-size: large;
    color: brown;
  }
  .img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    /* margin: 1px auto; */
  }
  .erimg{
width: 100%;
height: 500px;

  }
  .img11{
    /* border: 1px solid black; */
    width: 100%;
  }